/* Working with some different styling */

/* *, *::before, *::after {
    box-sizing: border-box;
    
} */
body {
    background-color:#5995ED;
}

body.correct {
    background-color: #218838;
}

body.wrong {
    background-color: #C82333;
}

/* .container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 300vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}  */
.card-body {
    box-shadow: 0 0 10px 2px;
}

.button-effects {
    padding: 10px;
    margin: 10px;
    
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
.button-effects:hover {
    border: solid black 1px;
}
.btn.correct {
    background-color:#218838;
}
.btn.wrong {
    background-color: #C82333;
}

.hide {
    display: none;
}

#start, #next {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    
}
