/* Working with some different styling */

*, *::before, *::after {
    box-sizing: border-box;
    
}
:root {
    --hue-netrual: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body {
    background-color:#5995ED;
}

body.correct {
    background-color: #218838;
}

body.wrong {
    background-color: #C82333;
}

.container {
    /* --hue: var(--hue-neutral); */
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: hsl(var(--hue), 100%, 20%); */
}

.button-padding {
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
}